#sign-div{
        margin: auto;
        
        height: 620px;
        width: 350px;
        border: 1px solid transparent;
        background-color: #ffffff;
    }
    #parent{
                box-shadow: rgba(67, 67, 183, 0.2) 0px 7px 29px 0px;
                width: 98%;
                padding: 20px;
                margin: auto;
                margin-top: 20px;
    
            }
            h3{
                text-align: center;
                color: gre;
            }
            input{
                width: 95%;
                margin: 15px 1px;
                padding: 10px;
                border: 1px gray solid;
                border-radius: 5px;
                
    
            }
            body{
                font-family: sans-serif;
            }
            input[type=submit]{
                background-color: rgb(169, 218, 71);
                border: none;
                padding: 20px;
                margin-left: 3%;
                cursor: pointer;
                color: white;
                font-size: 20px;
                
            }
            input[type=submit]:hover{
            background-color: rgb(125, 177, 20);
            }
            input::placeholder{
                color: grey;
            }
            form~p{
                width:80%;
                text-align: center;
                margin: auto;
                
                
            }
            form >p{
                font-size: 12px;
            }
            .eyes{
                margin-left: 22%;
                margin-top: -3%;
                z-index: 2;
                position: absolute;
    
            }